.breadcumb {
  &__item {
    a {
      color: $primary-color;
      margin-right: 5px;
    }
  }

  .divider {
    color: $primary-color;
    margin-right: 5px;
  }

  &__item {
    color: $primary-color;
    margin-right: 5px;
  }
}
