.dropdown {
  position: relative;
  display: inline-block;

  // &:hover .dropdown__overplay {
  //   display: block;
  // }

  &--active .dropdown__overplay {
    display: block;
  }

  &__overplay {
    position: absolute;
    background-color: #fff;
    border: 1px solid $border-color;
    width: 350px;
    padding: 5px 10px;
    right: -3px;
    top: 105%;
    display: none;
    z-index: 9999;

    &::before {
      content: "";
      border-width: 5px;
      border-color: transparent transparent $primary-color transparent;
      position: absolute;
      top: -10px;
      right: 10px;
      border-style: solid;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }

  &--active .dropdown__fallback {
    display: block;
  }

  &__fallback {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
}
