.product-detail {
  margin-top: 20px;

  h1 {
    font-size: 25px;
    position: relative;
    font-weight: bold;

    &::after {
      position: absolute;
      content: "";
      height: 1.5px;
      width: 150px;
      top: 100%;
      left: 0;
      background-color: $border-color;
    }
  }

  .small-list-images {
    img {
      border: 2px solid #fff;

      &.active {
        border: 2px solid $primary-color;
      }
    }
  }

  .large-image {
    max-width: 350px;
  }

  .group-star,
  .price {
    flex: 1;
    // font-size: 13px;
  }

  .price {
    text-align: right;
    font-weight: bold;
    font-size: 13px;
  }

  .actual-price {
    color: $primary-color;
  }

  .discount-price {
    color: $text-gray-color;
  }

  .border-outside {
    border-width: 10px 8px 10px 8px;
    border-color: $primary-color;
    border-style: solid;
    border-radius: 4px;
  }

  .variant-product-selection {
    display: flex;
    align-items: center;
    border: 2px solid $border-color;
    padding: 0px 10px;
    border-radius: 4px;

    img {
      width: 40px;
    }

    &.active {
      border: 2px solid $primary-color;
    }
  }

  .amount-input {
    max-width: 50px;
  }

  .total-price {
    span:nth-child(0) {
      font-size: 13px;
      color: $text-gray-color;
    }

    span:nth-child(1) {
      font-size: 13px;
      color: $primary-color;
    }
  }
}
